@charset "UTF-8";
/* theorangexchange */

body {
	background="img/background.jpg";
	background-attachment: fixed;
	}
	


header {
	background: none;
	}
	
/* Navigation Bar*/	
	#navcontainer ul {
    margin: 0; 
  	padding: 0; 
  	list-style: upper-latin; 
  	text-align: center;
  	display: block; 
  	background-color: #312E2E; 
  	letter-spacing: 0.8px;
  	width:100%; 
 	  height: 10%;  
 	  position:fixed;
 	  line-height: 62px;
 	  top:0;
 	  left:0
  }	
  
	
	#navcontainer ul li { 
	  display: inline-block; 
	  text-align: center;
  }
	
	#navcontainer ul li a { 
	  text-decoration: none; 
	  display: inline-block;
	  text-align: center; 
	  padding: .2em 1em; 
	  color: #FFFFFF; 
	  background-color: #312E2E; 
  }
	
	#navcontainer ul li a:hover {
		color: #f05a22; 
		text-align: center;
		display: inline-block;
		background-color: #312E2E; 
  }
	
	#navcontainer ul li a.active {
		color: #f05a22; 
		text-align: center;
		display: inline-block;
		background-color: #312E2E; 
	}
		
		

/*Header*/
header nav {
	text-align: center;
	padding: 30px;
	font-size: 15px;
	font-weight: 600;
	}
		
header h1 {
	position: static;
	padding: 70px;
	font-size: 55px;
	font-weight: 600;
	letter-spacing: 0px;
	padding-top: 40px;
	overflow:scroll;
	}
	
header h3 {
	position: fixed;
	padding: 90px;
	font-size: 55px;
	font-weight: 200;
	letter-spacing: 0px;
	padding-top: 50px;
	}
	
	
header h5 {
	position: fixed;
	padding: 90px;
	font-size: 55px;
	font-weight: 200;
	letter-spacing: 0px;
	padding-top: 50px;
	}
	
	
.about-content {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
  font-weight: lighter;
}

.terms-content {
text-align: justify;
  margin: 0 auto;
  width: 30em;
  font-weight: lighter;}
  
/*Login*/
	
	.login-card {
  padding: 50px;
  position: static;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 180px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 1px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 600;
  text-align: center;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.3em;
  letter-spacing: 0.8px;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 30px;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  font-variant:small-caps; 
  background-color: #312E2E;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #6F6A6A;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.register {
  width: 100%;
  text-align: center;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: 0px;
  color: #fff;
  
  
}


/*Registering*/
.registering {
	padding: 70px;
  	position: static;
  	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  	width: 200px;
 	background-color: #F7F7F7;
 	margin: 0 auto 10px;
 	border-radius: 1px;
 	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  	overflow: hidden;
}

.registering input[type=text], input[type=email]  {
  height: 30px;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.registering input[type=text]:hover, input[type=password] input[type=email] :hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

/*Tabs*/
.tabs {
	width:100%;
	display:inline-block;
	position:relative;
	top:-110px;
}

.tab-links li {
	margin:0px 10px;
	float:left;
	list-style:none;
	position:relative;
}

.tab-links a{
	padding:9px 15px;
	display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:600;
    color:#000;
    transition:all linear 0.15s;
	text-decoration:none;
    }
 
.tab-links a:hover {
     background:#C9C9C9;
     text-decoration:none;
	 color: #f05a22; 
	 
    }
 
li.active a, li.active a:hover {
    background:#C9C9C9;
    color:#f05a22;
	}

/*Tabs Content*/
    .tab-content {
        padding:15px;
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
   		font-size:12px;
        border-radius:6px;
		box-sizing: border-box;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background: #C9C9C9;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
			
        }
		
		.sell {
			padding: 90px;
  			position: static;
  			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  			width: 200px;
 			background-color: #F7F7F7;
 			margin: 0 auto 10px;
 			border-radius: 1px;
 			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  			overflow: hidden
		}


/*Trade History Table*/
th {
    text-align: left;
}



	