{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class='registering'>
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ url 'account_login' }}">log in</a>.{% endblocktrans %}</p>

<form class="register" id="register_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class='btn btn-default' type="submit">{% trans "Sign Up Now" %} &raquo;</button>
</form>
</div>

{% endblock %}
