{% extends "base.html" %}

{% block styles %}
  <style>
  .add {
			padding: 90px;
  			position: static;
  			font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  			width: 200px;
 			background-color: #F7F7F7;
 			margin: 0 auto 10px;
 			border-radius: 1px;
 			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  			overflow: hidden
		}
  </style>  
{% endblock %}

{% block content %}
<div class = "add">
<h1> Add Book </h1>
<form method='POST' action=''> {% csrf_token %}

	{{ form.as_p }}
<input type='submit' value='Upload Book' />
</form>
</div>
{% endblock %}


