{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<style>
.content {
  color: #f05a22;
}
</style>
{% endblock %}


{% block content %}
<div class="content">
<ul><li><img src='{{ obj.get_image_url }}' class='image-responsive'></li>
<li>{{ obj.title }}</li>
<li>Course: {{ obj.course }}
<li>Author: {{ obj.author }}</li>
<li>Condition: {{ obj.condition }}</li>
<li>Seller: {{ obj.user.email }}</li>
</ul>
</div>

{% endblock %}