{% extends "base.html" %}
{% block styles %}
<style>
.content {
  color: #f05a22;
}
</style>
{% endblock %}



{% block content %}
<div class="content">
{% for item in queryset %}
{{ item.get_absolute_url }}
{% endfor %}
</div>
{% endblock %}