{% include 'base.html'%}

{% block styles%}
<style>

.about {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #ffffff;
	letter-spacing:0.8px;
}
.about-content {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: 30;
}

</style> 
{% endblock %}
{% block content %}
<center>
	<div class="about">
    	<h5>ABOUT</h5>
    </div>
</center>
        
	<div class="about-content">
	
The orangexchange was created to facilitate the sale of books by students without any middlemen. Although the bookstore has a buyback program, the returns on the book is we feel not sufficient enough considering the original price. We are mainly giving students the ability to control the price of the book that is being sold. They can negotiate price with the users, and accept prices they agree with, something that is not the case with the bookstore. 
<p>The website offers 2 options: buy or sell textbooks and is a peer-to-peer service. This website will be able to allow students to create an account which they can use to trade. Once registered users login, they can buy and sell books. To use our website service, every user is required to register with a valid email.  Since we let the users to negotiate the price as well as delivery of the products on their own, only registered clients can see the contact information of the products owners. Once an item is sold, the owner is obligated to update its status on the website. Inappropriate products by registered users will be filtered out of the website.

<p> <b><center>© theorangexchange  2015.</center></b></p>


</div>
        </center>
{% endblock %}
