{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<!--     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> -->
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>theorangexchange</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <!-- Bootstrap theme -->
    <!-- <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="{% static 'css/theme.css' %}" rel="stylesheet"> -->
    
    <link rel='stylesheet' href='{% static "css/main.css" %}'/> 

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- <img src="{% static 'img/background.jpg' %}"></img> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
 
    {% block styles %}
    <style>
    h1{
  position: static;
  padding: 70px;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f05a22;
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 0px;
  padding-top: 40px;
  overflow:scroll;
  }
    </style>
    {% endblock %}
   
  </head>

  <body background={% static 'img/background.jpg' %} role="document">
    {% include 'navbar.html' %}
    <div class="h1">
    <center>
        <h1><big>theorangexchange</big></h1>
    </center>
    </div>
    


{% block intro %}
{% endblock %}

{% block content %} 
{% endblock %}

      
    <!-- JavaScript-->
    <script src="{% static 'js/main.js' %}"></script>
   
  </body>
</html>
