{% extends 'base.html' %} <!-- inherit from base.html-->
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block styles %}
<style>
 .add {
	padding: 90px;
  	position: static;
  	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  	width: 200px;
 	background-color: #F7F7F7;
 	margin: 0 auto 10px;
 	border-radius: 1px;
 	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  	overflow: hidden;
  	color: #f05a22;
	}
		
</style>
{% endblock %}

{% block content %}
<div class = 'add'>
<h1>{{ title }}</h1>

{% if confirm_message %}
<p>{{ confirm_message }}</p>
{% endif %}

{% if form %}
<form method='POST' action=''> {% csrf_token %}
<!--{{ form.as_p }} built-method turn .py into html paragraph--> 
{{ form.as_p }}
<input type='submit' value='send' class='login login-submite' />
</form>
{% endif %}
</div>
{% endblock %}