{% include 'base.html'%}

{% block styles %}
  <style type="text/css">
  .maintext {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: #f05a22;
}

	
.terms {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #ffffff;
	letter-spacing:0.8px;}

.terms-content {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #ffffff;
	font-weight: 30;
}
  </style>  
{% endblock %}
{% block content %}

<center>
	<div class="terms">
    	<h5>FAQ</h5>
        </div></center>
        
	<div class="terms-content">
    This website is provided “as is” without any representations or warranties, express or implied. theorangexchange makes no representations or warranties in relation to this website or the information and materials provided on this website.  

Without prejudice to the generality of the foregoing paragraph, theorangexchange does not warrant that:
<br>
this website will be constantly available, or available at all; or
the information on this website is complete, true, accurate or non-misleading.

Nothing on this website constitutes, or is meant to constitute, advice of any kind.  [If you require advice in relation to any [legal, financial or medical] matter you should consult an appropriate professional.]

<p><b>Limitations of liability</p></b>

theorangexchange will not be liable to you (whether under the law of contract, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:

<li> [to the extent that the website is provided free-of-charge, for any direct loss;]</li>
<li> for any indirect, special or consequential loss; or </li>
<li> for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data. </li>

These limitations of liability apply even if theorangexchange™ has been expressly advised of the potential loss.

<br> <p><b>Exceptions</p></b>

Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit theorangexchange's liability in respect of any:

<li>	 death or personal injury caused by theorangexchange's negligence; </li>
<li> 	fraud or fraudulent misrepresentation on the part of theorangexchange; or </li>
<li>	matter which it would be illegal or unlawful for theorangexchange to exclude or limit, or to attempt or purport to exclude or limit, its liability. </li>

<br> <p><b>Reasonableness</b></p>

By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.  

If you do not think they are reasonable, you must not use this website.

<br><p><b>Other parties</b></p>

[You accept that, as a limited liability entity, theorangexchange has an interest in limiting the personal liability of its officers and employees.  You agree that you will not bring any claim personally against theorangexchange's officers or employees in respect of any losses you suffer in connection with the website.]

[Without prejudice to the foregoing paragraph,] you agree that the limitations of warranties and liability set out in this website disclaimer will protect theorangexchange's officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as theorangexchange. 

<br><p><b>Unenforceable provisions</b></p>

If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.<br>
<p>© <b>theorangexchange™  2015.</b></p>
	

</div>
        </center>

{% endblock %}