{% include "base.html" %}
{% load staticfiles %}


{% block styles %}
<style>
.tab-content {
  padding:15px;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:12px;
  border-radius:6px;
  box-sizing: border-box;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background: #C9C9C9;
}
</style>
{% endblock %}


{% block content %}
<div class="tab-content">
<table border="1" style="width:100%">
  <tr>
    <th><b>Title<b></th>
    <th><b>ISBN</b></th>
    <th><b>Author</b></th>   
    <th><b>Date</b></th>
    <th><b>Price</b></th>
    <th><b>Seller</b></th>

  </tr>
  {% for product in products %}
    <tr>
    <th><b><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></b></th>
    <th><b>{{ product.isbn }}</b></th>
    <th><b>{{ product.author }}</b></th>   
    <th><b>{{ product.updated }}</b></th>
    <th><b>{{ product.price }}</b></th>
    <th><b>{{ product.user }} - {{ product.user.email }} </b></th>
  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}