{% extends "base.html" %}
{% block title %}Login | {% endblock %}

{% block content %}
<div class="login-card">
<form method='POST'>{% csrf_token %}
{{ form }}
<input type="submit" name="Login" class="login login-submit" value="Login" />

<div class="register">
  <a href="{% url 'account_signup' %}">Register</a>
</div>
</form>
</div>
{% endblock %}