{% include 'base.html' %}

<div class="tabs">
	<ul class="tab-links">
      <li><a href="#">My Book</a></li>
      <li><a href="{% url 'add_product' %}">Sell</a></li>
      <li><a href="{% url 'logout' %}">LogOut</a></li>        
  	</ul>
      
      
      <div class="tab-content">
       		<p></p>
      </div>
<div>

<h1>This is where the books uploaded by the user are. Coming soon!</h1>

</div>  

      	
