<!-- Html codes for navigation bar -->

{% block styles %}
<style>
.active {
    color: #f05a22; 
    text-align: center;
    display: inline-block;
    background-color: #312E2E;
}
</style>
{% endblock %}

{% block content %}
<nav>
  <div id="navcontainer">
    <ul>
      <li><a href="{% url 'home' %}">HOME</a></li>
      <li><a href="{% url 'profile' %}">myEXCHANGE</a></li>
      <li><a href="{% url 'faq' %}">FAQ</a></li>
      <li><a href="{% url 'terms' %}">TERMS</a></li>
      <li><a href="{% url 'about' %}">ABOUT</a></li>
      <li><a href="{% url 'contact' %}">CONTACT</a></li>
      <!-- <form class="navbar-right" role="search" action='/s/'>
        <div class="form-group">
          <input type="text" class="form-control" name='field-keywords' placeholder="Search">
        </div>
        <button type="submit" class="btn">Go</button>
      </form> -->
    </ul>
  </div>
</nav>
{% endblock %}

