{% extends 'base.html' %}

{% block styles %}
<style type="text/css">
.terms {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #ffffff;
	letter-spacing:0.8px;
}
</style>
{% endblock %}
{% block content %}
<div class="terms">
    	<h5>{{ user.username }} {{ user.email }}</h5>
        </div>





{% endblock %}