{% extends "base.html" %}

{% block content %}

<div class="sell-tab">
<form method='POST' action=''> {% csrf_token %}

	{{ form.as_p }}
<input type='submit' value='Upload Book' />
</form>
</div> 
{% endblock %}